<form [formGroup]="form" (ngSubmit)="change()">
    <div class="form-group">
        <label class="form-label">Old Password</label>
        <input class="form-control" type="password" formControlName="oldPassword">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.errors && oldPassword.errors.required">Please enter your old password</div>
        <div class="alert alert-danger" *ngIf="oldPassword.value && oldPassword.errors && oldPassword.errors.oldPasswordNotCorrect">Old Password does not match our records</div>
    </div>
    <div class="form-group">
        <label class="form-label">New Password</label>
        <input class="form-control" type="password" formControlName="newPassword" [ngClass]="{'error' : form.errors && (form.errors.cantMatchOldPassword || form.errors.passwordsDontMatch)}">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors && newPassword.errors.required">Please enter your new password</div>
        <div class="alert alert-danger" *ngIf="form.controls.newPassword.value && form.controls.oldPassword.value && form.errors && form.errors.cantMatchOldPassword">
            Passwords can't match your old password
        </div>
    </div>
    <div class="form-group confirn-password">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{'error' : form.errors && form.errors.passwordsDontMatch}">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.errors && confirmPassword.errors.required">Please confirm your new password</div>
    </div>
    <div class="alert alert-danger" *ngIf="form.controls.newPassword.value && form.controls.confirmPassword.value && form.errors && form.errors.passwordsDontMatch">
        Passwords don't match
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
