<!-- <app-authors></app-authors>
<br><br><br>
<app-favorite></app-favorite>
<br><br><br>
<app-like-component [like-count]="tweet.likesCount" [is-liked]="tweet.isLiked" (clicked)="onLikeClicked($event)"></app-like-component>
<br><br><br>
<app-zippy [title]="shippingDetailsTitle" [show-details]="showShippingDetails" [content]="shippingDetailContent" (shipping-clicked)="onShippingClicked()"></app-zippy>
<app-zippy [title]="billingDetailsTitle" [show-details]="showBillingDetails" [content]="billingDetailsContent" (billing-clicked)="onBillingClicked()">Billing Details Content</app-zippy>
<br><br><br>
<app-course-form></app-course-form>
<br><br><br>
<app-change-password></app-change-password>
<br><br><br>
<app-posts></app-posts> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>